:root{
    --green: #1ED760;
    --blue: #107FD2;
    --black: #333;
    --white: #fff;
}

*,
*::before,
*::after{
    margin: 0; padding: 0; 
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile_img{
    padding:  5vh;
}

.profile_img img{
    height: 35vh;
    border-radius: 50%;
}

.profile_name{
    font-size: 56px;
    line-height: 64.4px;
    color: var(--black);
    font-weight: 700;
}

.profile_info{
    font-size: 20.8px;
    line-height: 31.2px;
    font-weight: normal;
    margin-top: 2vh;
}

.profile_sociais{
    margin-top: 5vh;
    display: grid;
    gap:35px;
    grid-template-columns: 1.5fr 1.5fr;
    cursor: pointer;
}

.sociais{
    width: 25vw;
    height: 25vh;
    border: 0.75px solid gainsboro;
    padding: 20px;
    border-radius: .5rem;
    padding: 20px;
}

.title{
    font-size: 24px;
    font-weight: bold;
}

.title_info{
    width: auto;
}

.sociais.sociais:nth-child(1):hover:hover{
    color: #333;
    border-radius: 4px 4px 4px 4px;
    box-shadow: rgba(0,0,0,.25) 0px 0px 0px 4px;
}

.sociais.sociais:nth-child(2):hover:hover{
    color: var(--blue);
    border-radius: 4px 4px 4px 4px;
    box-shadow: rgba(16, 127, 210,.25) 0px 0px 0px 4px;
}

.sociais.sociais:nth-child(3):hover:hover{
    color: rgb(238, 41, 41);
    border-radius: 4px 4px 4px 4px;
    box-shadow: rgba(238,41,41,.25) 0px 0px 0px 4px;
}

.sociais:nth-child(4):hover{
    color: var(--green);
    border-radius: 4px 4px 4px 4px;
    box-shadow: rgba(30, 215, 96, 0.25) 0px 0px 0px 4px;
}
